
<div style="max-width: 564px">

    <% @newsletter_videos.each_with_index do |newsletter_video, index| %>
        <% video_id = newsletter_video.video_id %>
        <% video_title = newsletter_video.video_title %>
        <% video_thumbnail = newsletter_video.video_thumbnail %>
        <% channel_title = newsletter_video.channel_title %>
        <% channel_desc = newsletter_video.channel_desc %>
        

        <div>
            <%= image_tag video_thumbnail, class: "full_width" %>
        </div>
        <div>
            <%= label_tag :title, "Titre" %><br />
            <%= text_field_tag "title", channel_title + " : " + video_title, class: "full_width" %>
        </div>
        <div>
            <%= label_tag :description, "Description" %><br />
            <%= text_area_tag :description, channel_desc, class: "full_width" %>
        </div>
    <% end %>

</div>